@import "tailwindcss";

:root {
  --font-sans: "Montserrat", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}
html, body {
  font-family: var(--font-sans);
}