backend/.env
backend/my_app/__pycache__
_env
backend/assessment/migrations
backend/assessment/__pycache__
backend/users/__pycache__
backend/users/migrations
backend/assessment/services/__pycache__
frontend/exam-app/node_modules
frontend/exam-app/.env
frontend/exam-app/README.md